@CHARSET "UTF-8";
/*Common Style*/

* {
	margin:0px;
	padding:0px;
}

html{
	background-color:#edece9;
}

html body{
	height:100%;
	font-family: "helvetica neue",arial,sans-serif;
    font-size: 14px;
    color: #444;
	min-height: 100%;
}

input, textarea, select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	resize: none;
	outline: 0;
}
textarea{
	display: inline-block;
	padding: 6px 10px;
	color: #221919;
	background: #fff;
	border: 1px solid #CCC;
	box-shadow: inset 0 1px rgba(34,25,25,.15),0 1px rgba(255,255,255,.8);
	width: 250px;
	overflow:auto;
}
a{
	color: #222;
	text-decoration: none;
	outline: 0;
	cursor:auto;
}
a.img {
  display: block;
  background-color: #fff;
}
a.img img {
  display: block;
  margin: 0 auto;
}
element .style{
	display:block;
}


strong{
	font-weight:700;
	font-style:normal;
}

#footer {
  background: #333;
  padding: 25px 0 15px;
  height: 182px;
  bottom:0;
  //position:absolute;
}
#footer .column {
  width: 200px;
  display: inline-block;
  vertical-align: top;
}
#footer .column>a {
  color: #bbb;
  display: block;
  padding-bottom: 15px;
  text-decoration: none;
}
#footer .column>a:hover {
  color: #fff;
}
#footer .column>a.title {
  font-size: 16px;
  color: #ddd;
  padding-bottom: 20px;
}
#footer .follow-us {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #555;
  border-width: 0 1px;
  padding-left: 30px;
  padding-right: 30px;
  width: 248px;
  height: 185px;
}
#footer .weixin {
  position: relative;
}
#footer .weixin:hover .code{
  display: block;
}
#footer .weixin .code {
  display: none;
  position: absolute;
  right: 0;
  bottom: 15px;
}

/* 	.btn:hover {
	text-decoration: none;
	color: #444;
	background: #fff;
	box-shadow: inset 0 1px 0 white,0 1px 0 rgba(255,255,255,.05);
	border: 1px solid #CCC;
} */

.btn:active{
	background:#d3d7d4;
	box-shadow:none;
}
.btn:hover
{
	background:#fff;
}

.btn {
	display: inline-block;
	line-height: 1;
	border-radius: 2px;
	font-size: 14px;
	padding: 0 12px;
	height: 28px;
	line-height: 28px;
	background: #fff;
	background: linear-gradient( #FAFAFA, #F2F2F2);
	border: 1px solid #D9D9D9;
	cursor: pointer;
	text-decoration: none;
	color: #444;
	white-space: nowrap;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	text-align: center;
}

.btn i{
	  display: inline-block;
	  width: 12px;
	  height: 14px;
	  background: url(../image/action_icons12.png) -20px 0 no-repeat;
	  vertical-align: middle;
	  margin-right: 2px;
}
.btn i:last-child {
  margin: 0 -2px;
}
i {
	font-style:italic;
}
.btn18 {
	font-size: 18px;
	padding: 0 15px;
	border-radius: 3px;
	height: 36px;
	line-height: 36px;
}

.rbtn
{
	background: #E53E49;
	background: linear-gradient( #E53E49, #D43636);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.08),0 1px 0 rgba(255,255,255,.3);
	text-shadow: 0 -1px 0 rgba(0,0,0,.1);
	color: #fff;
	border: 1px solid #C90000;
}

.rbtn:hover
{
	background: linear-gradient( #F45D68, #E54646);
	color: #fff;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.08),0 1px 0 rgba(255,255,255,.1);
	border: 1px solid #C90000;
}

.rbtn:active{
	background: linear-gradient( #E53E49, #D43636);
}

/* Search Box*/
.searching-unit{
	position: relative;
	float: left;
	margin-top: 7px;
}

.searching-unit input {
	background: #FAFAFA;
	border: 1px solid #DDD;
	padding: 5px 30px 5px 8px;
	font-size: 14px;
	color: #BBB;
	width: 120px;
	line-height: 16px;
	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.06);
}

.searching-unit .go {
	display: block;
	width: 20px;
	height: 20px;
	background: url(../image/menu_sprite.svg) 0 -100px no-repeat;
	position: absolute;
	right: 6px;
	top: 4px;
	cursor: pointer;
}

.searching-unit .go:hover{
	background: url(../image/menu_sprite.svg) -50px -100px no-repeat;
}

.recommend-line{
  position: relative;
  padding: 20px 0;
  text-align: center;
}
.get-more-line
{
  position: relative;
  padding: 20px 0;
  text-align: center;
  border-radius: 2px;
}
.get-more-line>a {
  padding: 10px;
  width: 49%;
  background-color: #f7f7f7;
  display: inline-block;
  font-size: 16px;
  color: #999;
  cursor:pointer;
}
.get-more-line>a:hover{
  background-color: #f1f1f1;
}
.recommend-line>a{
  display: inline-block;
  font-size: 16px;
  color: #999;
}
.recommend-line:before{
  display: block;
  position: absolute;
  top: 28px;
  width: 44%;
  content: "";
  border-top: 1px solid #ededed;
}
.get-more-line:before{
  width: 22%;
  top: 38px;
  display: block;
  position: absolute;
  content: "";
  border-top: 1px solid #ededed;
}
.get-more-line:after{
  width: 22%;
  top: 38px;
  display: block;
  position: absolute;
  content: "";
  border-top: 1px solid #ededed;
  right:0;
}
.recommend-line:after{
  display: block;
  position: absolute;
  top: 28px;
  width: 44%;
  content: "";
  border-top: 1px solid #ededed;
  right:0;
}
.recommend-container-row {
  margin-bottom: 3px;
}
.recommend-container-row:after{
  clear:both;
  content: "";
  display: table;
}
.recommend-box {
  box-sizing: border-box;
  float: left;
  margin-right:3px;
  position:relative;
}
.recommend-box:hover {
  opacity:0.8;
}
.recommend-box a img {
  width: 100%;
  height: 100%;
}
.recommend-title
{
	position:absolute;
	top:40%;
	left:10%;
	background:rgba(0,0,0,.5);
	height:60px;
	width:240px;
	text-align:center;
	cursor:pointer;
	display:block;
}
.recommend-title strong{
	color:#fff;
	font-size:28px;
	font-weight:normal;
	line-height:60px;
}



