#user_settings {
  padding-bottom: 30px;
  background-color: #fff;
  border-radius: 4px;
}
#user_settings h1 {
  font-weight: 400;
  padding: 0;
  text-align: center;
  margin-top: 20px;
  margin: 20px 0 0;
  line-height: 60px;
}
.setting-units
{
  border-top: 1px solid #ededed;
  padding: 0 26px;
  color: #8C7E7E;
}
.setting-unit {
  border-bottom: 1px solid rgba(34,25,25,.1);
  border-top: 1px solid rgba(255,255,255,.7);
  position: relative;
  cursor: pointer;
}
#user_settings .setting-units .setting-unit .title {
  font-size: 16px;
  line-height: 60px;
  height: 60px;
  padding-left: 20px;
  color: #333;
  font-size: 18px;
}
#user_settings .setting-units .preview {
  position: absolute;
  left: 190px;
  top: 0;
  line-height: 60px;
  font-size: 14px;
}
#user_settings .setting-units .setting-unit .edit-label {
  font-size: 15px;
  line-height: 60px;
  height: 60px;
  position: absolute;
  right: 25px;
  top: 0;
  color: #8C7E7E;
  padding-right: 16px;
  background: url(../image/editor_arrow.png) right 25px no-repeat;
  cursor: pointer;
  font-size: 14px;
}
#user_settings .setting-units .setting-unit .edit-label:hover{
  color: #C90000;
}
#user_settings .setting-units .setting-unit .holder {
  overflow: hidden;
  position: relative;
}
#user_settings .inner {
  padding: 20px; 
}
#user_settings .setting-units .setting-unit .list {
  font-size: 14px;
  margin-left: 70px;
}
#user_settings tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
#user_settings tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  height:48px;
}
#user_settings .setting-units .setting-unit .list .name {
  text-align: right;
  width: 90px;
  line-height: 30px;
  vertical-align: top;
  padding-right: 10px;
  padding-top:8px;
}
#_set_profile .sex label {
  margin-right: 20px;
  padding: 5px;
}
#_set_profile .sex label input {
  margin-right: 8px;
}
#_set_profile .birthday input:first-child {
  width: 50px;
}
#_set_profile .birthday input {
  width: 20px;
  margin-right: 10px;
}
#_set_profile .horoscope input {
  border: 0;
  box-shadow: none;
}
#user_settings .clear-input {
  display: inline-block;
  padding: 0 10px;
  height: 36px;
  font-size: 16px;
  line-height: 1;
  color: #777;
  background: #FCFCFC;
  border: 1px solid #CCC;
  border-radius: 3px;
  width: 250px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
  -webkit-transition: color .2s linear,border-color .3s linear;
}