#pin_view_layer{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(229,229,229,.95);
	z-index: 99994;
	overflow: auto;
	padding-top: 40px;
}
.pin_view{
	width: 992px;
	margin: 0 auto;
}
.pin_view .pin_view_wrapper{
	width: 992px;
	margin: 0 auto;
	position: relative
}
.pin_view .main_part{
	width: 698px;
	float: left;
}
.pin_view .tool_bar {
  margin-bottom: 16px;
  position: relative;
  z-index: 1;
}
.pin_view .piece{
	background: #fff;
	padding: 16px 20px;
	box-shadow: 0 1px 3px rgba(34,25,25,.4);
	margin-bottom: 16px;
}
.pin_view .tool_bar .btn{
	margin-right:10px;
}
.pin_view .tool_bar .share_part{
	position: absolute;
	right: 0;
	top: 0;
}
.beike_share_unit{
	width: 180px;
	height: 30px;
	line-height: 30px;
	text-align: right;
	position: relative;
}
.pin_view .tool_bar .beike_share_unit {
  position: absolute;
  right: 50px;
  top: 0;
}
.beike_share_unit .share_btns{
	height: 28px;
	width: 106px;
	background: #FAFAFA;
	border: 1px solid #EDEDED;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	cursor: pointer;
}
.beike_share_unit .share_btns .share_btn{
	height: 28px;
	width: 30px;
	display: inline-block;
	position: relative;
	background: url('../image/share_icon.svg') 6px 4px no-repeat;
}
.beike_share_unit .share_btns .share_btn:after{
	content: "";
	display: block;
	position: absolute;
	width: 1px;
	height: 16px;
	right: 0;
	top: 6px;
	background: #EDEDED;
}
.beike_share_unit .share_btns .weixin{
	background-position:6px -276px;
}
.beike_share_unit .share_btns .qzone{
	background-position:6px -36px;
}
.beike_share_unit .share_btns .weibo{
	background-position:6px 4px;
}
