@CHARSET "UTF-8";
/**
* 风格板样式
**/
.styleBoard
{
	 position: relative;
	 left:0px;
	 top:0px;
	 width: 236px;
	 padding: 0;
	 background-color:#FFFFFF;
}


div.styleBoard .link
{
	display: block;
	padding:10px 0 0 10px;
	height: 299px;
}
div.styleBoard .link:hover .shadow
{
	display: block;
}
div.styleBoard div.shadow
{
	background-color: #000;
	position: absolute;
	left: 10px;
	top:10px;
	width: 216px;
	height: 289px;
	opacity: 0.1;
	display: none;
}
.styleBoard div.over
{
	position: absolute;
	left: 10px;
	top:10px;
	width: 216px;
	height: 289px;
}
.styleBoard .over h3
{
	padding: 8px 0 0 8px;
	font-size: 14px;
	color: #fff;
}
.styleBoard .pin-count
{
	position: absolute;
	top:188px;
	left: 8px;
	font-size: 12px;
	color: #fff;
	padding: 0 5px;
	background:rgba(0,0,0,.4);
}
.styleBoard  .setbtn
{
	position: absolute;
	height: 24px;
	left: 146px;
	top: 190px;
	font-size: 12px;
	line-height: 24px;
	text-decoration: none;
	text-align: center;
	opacity: 0;
	padding:0 9px;
	z-index:3;
}
.styleBoard  .link:hover .setbtn
{
	opacity: 1;
}
.styleBoard .loveBoard
{
	position: relative;
	text-align: center;
	width: 216px;
	padding: 0 10px 11px;
	background-color:#FFFFFF;
}
.styleBoard .loveBoard  div.btn
{
	display: block;
	font-size: 14px;
	font-weight:bolder;
	background:linear-gradient( #FAFAFA, #F2F2F2);
	text-decoration: none;
	color: #444;
}
.styleBoard .loveBoard  span
{
	position:absolute;
	left:95px;
	top:0;
}
.styleBoard .loveBoard  label
{
	position:absolute;
	left:115px;
}
.styleBoard .loveBoard  div.btn .heart
{
	display: inline-block;
	width:12px;
	height:12px;
	margin-top:10px;
	background:url(../image/action_love.svg) 0 -31px no-repeat;
}
.styleBoard .loveBoard  div.btn:hover
{
	background: #fff;
	box-shadow: inset 0 1px 0 white,0 1px 0 rgba(255,255,255,.05);
	border: 1px solid #CCC;
	color:#b456a2;
}
.styleBoard .loveBoard  div.btn:active
{
	background:#d3d7d4;
	box-shadow:none;
}
.styleBoard .editBoard
{
	position: relative;
	text-align: center;
	width: 216px;
	padding: 0 10px 11px;
	background-color:#FFFFFF;
}

.styleBoard .editBoard  a.btn
{
	display: block;
	font-size: 14px;
	background:linear-gradient( #FAFAFA, #F2F2F2);
	text-decoration: none;
	color: #444;
}
.styleBoard .editBoard  a.btn:hover
{
	background: #fff;
	box-shadow: inset 0 1px 0 white,0 1px 0 rgba(255,255,255,.05);
	border: 1px solid #CCC;
}
.styleBoard .editBoard  a.btn:active
{
	background:#d3d7d4;
	box-shadow:none;
}
.styleBoard strong
{
	font-weight: 400;
}
.styleBoard .userBoard
{
	position: relative;
	width: 216px;
	padding: 0 10px 11px;
	background-color:#FFFFFF;
	font-family: "helvetica neue",arial,sans-serif;
}
.styleBoard .userBoard a.image
{
	position: absolute;
	background-color: #fff;
	text-decoration: none;
}
.styleBoard .userBoard .userImage
{
	position: relative;
	top:3px;
	width: 24px;
	height: 24px;
}
.styleBoard .userBoard .userName
{
	position: relative;
	font-size: 12px;
	left: 34px;
	line-height: 24px;
	text-decoration: none;
	color: #444;
}
.styleBoard .userBoard a.userName:hover
{
	text-decoration: underline;
}
.styleBoard .userBoard a.btn
{
	position: relative;
	display:inline-block;
	padding: 0 12px;
	margin-left: 96px;
}
/**
* 添加板样式
**/
.addBoard
{
	 position: relative;
	 //margin:0 0 15px 16px;
	 float:left;
	 left:0px;
	 top:0px;
	 width: 236px;
	 height:350px;
	 background-color:#f6f5f5;
	 box-shadow:0 1px 3px rgba(0,0,0,.3);
	 cursor:pointer;
}
.addBoard:hover
{
	background:#fff;
}
.addBoard:hover .inner i
{
	background: url(../image/personal_found_add_streak.png) 0 0 no-repeat;
}
.addBoard:hover .inner span
{
	color:#000;
}
.addBoard:active .inner i
{
	background: url(../image/personal_found_add_click.png) 0 0 no-repeat;
}
.addBoard:active .inner span
{
	color:#b456a2;
}
.addBoard:active .inner 
{
	border:2px dashed #b456a2;
}
.addBoard .inner
{
	margin:10px;
	height:326px;
	border:2px dashed #dedede;
}
.addBoard .inner i
{
	display:block;
	width:60px;
	height:60px;
	margin:128px auto 10px;
	background: url(../image/personal_found_add.png) 0 0 no-repeat;
}
.addBoard .inner span
{
	display:block;
	color:#777;
	text-align:center;
}